
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form input, form select, form button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #a57da2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #7d4880;
}

p {
    margin-top: 20px;
}

.result-container {
    text-align: center;
    margin-top: 20px;
}

.bmi-result {
    display: inline-block; 
    padding: 20px;
    border: 2px solid #2e3135; 
    border-radius: 10px;
    background-color: #f0f8ff; 
    font-size: 1.5em; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px; 
}
.login-btn {
    background-color: #b17bb6; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #a96398; 
}

.container {
    text-align: center;
    padding: 20px;
}

.highlight {
    color: #030303; 
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #2b402c; 
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049; 
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


.bmi-result {
    font-size: 2em; 
    color: #333;
    margin-bottom: 20px;
}


.go-back-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #454c64; 
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.go-back-btn:hover {
    background-color: #2e374c; 
}

.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #454c64;  
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
}

.logout-btn:hover {
    background-color: #2e374c;
}

.register-link {
    color: #784080; 
    text-decoration: none; 
}

.register-link:hover {
    text-decoration: underline; 
    color: #522752; 
}

